body {
  font-family: 'Roboto', sans-serif;

  font-size: 17px;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
}

.task__list {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

img {
  width: 400px;
  height: 250px;
}

.counter__btn {
  width: 50px;
  height: 40px;
  background-color: #d2eee1;
  border: none;
  outline-color: #2baa80;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.counter__test {
  margin: 0 10px;
}

.input {
  width: 300px;
  height: 40px;
  padding: 0 20px;
}

.task {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box {
  margin: 5px;
  border-radius: 50%;
}
